#app {
    display: flex;
    height: 100vh; /* Täidab kogu ekraani kõrguse */
  }
  
  .main-content {
    box-sizing: border-box;
    width: calc(100vw - 250px - 40px); /* Navbar width + desired margins */
    padding: 20px;
    margin: 0 auto; /* Optional centering */
    margin-left: 0;
  }

  body {
    padding-left: 250px; /* Width of the navbar */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }