/* Goals Container */
.goals-container {
  margin: 20px auto; /* Lisab ruumi ülaosasse ja tsentreerib kasti */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 80px); /* Lahutab mõlemalt poolt kokku 80px (40px kummalegi küljele) */
  width: 90%; 
  max-width: 100%;
}

/* Goals Overview */
.goals-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

/* +New Goal Button */
.new-goal-container {
  margin: 20px auto; /* Tsentreerib ja lisab ruumi */
  text-align: center;
}

.new-goal-button {
  background-color: #459aff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 12px 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-goal-button:hover {
  transform: scale(1.05);
}

.promise-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Tsentreerib konteineri */
  width: calc(100% - 80px); /* Sama loogika nagu Goals Container */
  width: 90%; 
  max-width: 100%;
}



.promise-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #64748b;
}

.promise-input::placeholder {
  color: #64748b;
}

.send-button {
  background-color: #5661f6;
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.send-button img {
  width: 20px;
  height: 20px;
}

.send-button:hover {
  transform: scale(1.1);
}
